.userAvatarWrapper {
  border-radius: 50%;

  width: 34px;
  height: 34px;

  background: linear-gradient(180deg, #27084e 0%, #9d0067 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  stroke: var(--text-color);
}

.languageButton {
  margin-right: 16px;

  background-color: transparent;

  width: 28px;
  height: 28px;

  stroke: var(--text-color);
}
