.topNewReleasesList {
  display: flex;
  column-gap: 24px;
}

.topNewReleaseCard {
  background: linear-gradient(180deg, red, orange, yellow);
  background: linear-gradient(180deg, #510a39 0%, #27084e 100%);
  width: 543px;
  height: 309px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;

  border-radius: 10px;
  overflow: hidden;

  & > a {
    border-radius: inherit;
    overflow: hidden;
  }

  & > a > img {
    object-fit: cover;
  }

  position: relative;
}

.gameName {
  position: absolute;
  bottom: 21px;
  left: 12px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.21;
}

.dataPlaceHolder {
  height: 309px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: lightskyblue;
  &::before {
    background-color: red;
  }
}
