.viewMoreButton {
  border: 1px solid #4e4a4a;
  border-radius: 6px;

  padding: 9.5px 23.5px;

  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  /* line-height: 1.25; */
  line-height: 1.1;

  width: 124px;

  text-align: center;
}
