/*Games schedule section*/

.gamesScheduleSection {
  padding: 32px 0 20px 0;
}

.gamesScheduleSectionContainer {
  padding: 0 160px 0 159px;
}

.gamesScheduleSectionTitle {
  margin-bottom: 24px;
  margin-left: 5px;
}

/*Top new releases section*/

.topNewReleasesSection {
  padding: 20px 0;
}

.topNewReleasesSectionContainer {
  padding: 0 165px;
}

.topNewReleasesSectionTitle {
  text-transform: capitalize;
  margin-bottom: 24px;
}

/*Panel header - Title + View more button*/
.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
