.helloContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
}

.hello {
  border-radius: 40px;
  border: 1px solid lightcoral;

  padding: 20px 40px;
}

.gamesScheduleSection {
  padding: 32px 0 20px 0;
}

.gamesScheduleSectionContainer {
  padding: 0 160px 0 159px;
}

.gamesScheduleSectionTitle {
  margin-bottom: 24px;
  margin-left: 5px;
}
